---
layout: page
title: Category
subtitle: Do something you like.
permalink: /category/
---
<section class="post-tags">
    {% assign tags_list = site.categories %}

    {% if tags_list.first[0] == null %}
    {% for tag in tags_list %}
    <!-- <a class="post-tags-item" href="#{{ tag | slugify }}">{{ tag }}</a> -->
    <a class="post-tags-item" href="#dir{{forloop.index0 }}">{{ tag }}</a>
    {% endfor %}
    {% else %}
    {% for tag in tags_list %}
    <a class="post-tags-item" href="#{{ tag[0] | slugify }}">{{ tag[0] }}</a>
    {% endfor %}
    {% endif %}

    {% assign tags_list = nil %}

</section>

<hr>

{% for category in site.categories %}
{% capture cat %}{{ category | first }}{% endcapture %}

<h2>{{ cat | capitalize }}</h2>
	<ul>
	{% for post in site.categories[cat] %}
	  <li>
	  <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	     <span class="date"> - {{ post.date | date: "%Y/%m/%d" }}</span></p>
	  </li>
	{% endfor %}
	</ul>

{% endfor %}
