---
layout: default
---

  <header class="post-header">

    <center><div class="post-title" itemprop="name headline">{{ page.title }}</div>

		<div class="post-meta"><i class="fa fa-calendar-o"></i> <time datetime="{{ page.date | date: "%Y/%m/%d %X %A" }}" itemprop="datePublished">{{ page.date | date: "%Y/%m/%d %A" }}</time>

		{% if page.author %}&nbsp;&nbsp;•&nbsp;&nbsp;<i class="fa fa-user-secret"></i> <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{page.author}}</span>
    {% endif %}
    <br />
    {% if page.location %}
    &nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fa fa-map-marker"></i>
    <span>{{ page.location }}</span>
    {% endif %}
		<!-- <br> -->
		<!-- <i class="fa fa-eye"></i> <span id="busuanzi_value_page_pv"><i class="fa fa-spinner fa-pulse"></i></span>˚C</span> -->
	</div>

    </center>

</header>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
<div class="post-content">
    <center>
	{% if page.subtitle %}
	<p>{{ page.subtitle }}</p>
	{% endif %}
    </center>
	<h2>Directory</h2>
</div>

<div id="category"></div>
<hr>

<div class="post-content" itemprop="articleBody">
    {{ content }}
</div>

<div>
	{% if page.finished %}
	<div class="eof"></div>
	{% else %}
	<div class="tbc"></div>
	{% endif %}
</div>

<center>
<div class="post-tags">
{% if page.tags %}
    {% for tag in page.tags %}
  <a class="post-tags-item" href="{{ site.url }}{{ site.baseurl }}/tags/">{{ tag }}</a>
    {% endfor %}
{% endif %}
</div>
</center>

<div class="post-recent">
  {% if page.previous %}
    <p>上一篇
    &nbsp;
    {% if page.previous.categories contains 'miniblog' %}
    <i class="fa fa-comment-o" aria-hidden="true"></i>
    {% else %}
    <i class="fa fa-file-archive-o" aria-hidden="true"></i>
    {% endif %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}">{{ page.previous.title }}</a></p>
  {% endif %}
  {% if page.next %}
    <p>下一篇
      &nbsp;
      {% if page.next.categories contains 'miniblog' %}
      <i class="fa fa-comment-o" aria-hidden="true"></i>
      {% else %}
      <i class="fa fa-file-archive-o" aria-hidden="true"></i>
      {% endif %}
      <a href="{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }}</a></p>
  {% endif %}
</div>

{% include share.html %}

{% include disqus.html %}

</article>
